 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Yalla Startup , Social Entrepreneurship Application in Egypt </title>

    <!---Meta tags------>
    <meta name="robots" content="index, follow" />
    <meta name="description" content="yalla startup Leading Social Entrepreneurship Application in Egypt, find right matches Cofounder and grow your startup , Compleate startup teams get freelansers and get hte right mentors as we help statups in very early stage">
    <meta name="keywords" content="yalla,startup,Social,Entrepreneurship,Application,matche Making,Cofounder, Startup, teams, freelansers, mentors, Egypt">
    <meta name="robots" content="index, follow" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!---Style Sheets------->
    <link rel="icon" href="img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="css/all.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="css/style.min.css">
    <!-- Begin Sendinblue Form -->
