<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu" style="padding-right: 0;">
            <li id="dashboardmenu" style="display: none;">
                <a href="/"><i class="fa fa-tachometer-alt"></i> لوحة التحكم</a>
            </li>
            <li  id="usersmenu" style="display: none;">
                <a href="#"><i class="fa fa-users"></i> المستخدمين <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" id="usrsLink">
                    <li>
                        <a href="/admins" id="admin">الأدمن</a>
                    </li>
                    <li>
                        <a href="/users" id="user">مرضى السكر</a>
                    </li>
                </ul>
            </li>
            <li  id="ingredientsmenu" style="display: none;">
                <a href="#"><i class="fa fa-list"></i> المكونات الغذائية <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" id="catLink">
                    <li>
                        <a href="/Categories" id="cat">الفئات الرئيسية</a>
                    </li>
                    <li>
                        <a href="/subCategories" id="subCat">الفئات الفرعية</a>
                    </li>
                </ul>
            </li>
            <li  id="suggestedmenu" style="display: none;">
                <a href="/suggestedmeal" id="sugLink"><i class="fa fa-utensils"></i>الوجبات المقترحة</a>
            </li>
            <li  id="requestmenu" style="display: none;">
                <a href="#"><i class="fa fa-plus-square"></i> طلبات إضافة <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" id="addLink">
                    <li>
                        <a href="/ingredientRequest" id="addSubCat">كون وجبتك</a>
                    </li>
<!--                    <li>-->
<!--                        <a href="/suggestedmealRequest" id="addMeal">الوجبات المقترحة</a>-->
<!--                    </li>-->
                </ul>
            </li>
            <li  id="articlemenu" style="display: none;">
                <a href="/"><i class="fa fa-newspaper"></i> المقالات <span class="fa arrow"></span> </a>
                <ul class="nav nav-second-level" id="artcLink">
                    <li>
                        <a href="/recipe" id="rcpArtc">وصفات تهمك</a>
                    </li>
                    <li>
                        <a href="/medical" id="medArtc">مقالات طبية</a>
                    </li>
                    <li>
                        <a href="/miscellaneous" id="misArtc">مقالات متنوعة</a>
                    </li>
                </ul>
            </li>
            <li  id="messagemenu" style="display: none;">
                <a href="/messages"><i class="fa fa-envelope"></i> الرسائل</a>
            </li>
            <li  id="dealsmenu" style="display: none;">
                <a href="/deals"><i class="fa fa-gifts"></i> العروض الترويجية</a>
            </li>
            <li  id="reportsmenu" style="display: none;">
                <a href="/"><i class="fa fa-chart-line"></i> التقارير <span class="fa arrow"></span> </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/#">تقرير غذائي</a>
                    </li>
                    <li>
                        <a href="/#">تقرير مستوى السكر بالدم</a>
                    </li>
                </ul>
            </li>
            <li  id="settingsmenu" style="display: none;">
                <a href="#"><i class="fa fa-wrench"></i> الإعدادات <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/mealtype">البرامج الغذائية</a>
                    </li>
                    <li>
                        <a href="/DietType">الأنظمة الغذائية</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->
</nav>