    <section class="subscribe_part padding_bottom padding_top" id="subsribe">
        <div class="container">
            <div class="row justify-content-center">
                     <div class="col-lg-6">
     
                      <h3 class=" text-left">
                          Experience the most simple way to manage business 

                      </h3>
                          
                            <p>Please Let Us To Know More About You?<br/>
                            don't warry your data is in a save hand.
                            <br/>
                            we just need to let you update with our news.
                            be one of first early bird in our journy.
                            
                            </p>
                          <img src="img/custom-ui-02.png"/>
                     </div>     
                <div class="col-lg-6">
                    <div class="subscribe_part_text text-center">
                
                        <div class="subscribe_form" id="subsribeform">


  <!-- START - We recommend to place the below code where you want the form in your website html  -->
<iframe width="540" height="790" src="https://e62612be.sibforms.com/serve/MUIEAOL5Dr6I5tIVdVpbqmTujLruiBAy4sgnmxD1mvZqxfDHYFsr5nRJaFv8hL2e8NGN2NsOzf3ZPNeRU-hr2bVAuT0uB0FRdtH2lklTNuFlSEbg56Q4-rlMeDCmhzMVTj2JXvhAtZKJwGx-hsE3rZHhFizYzCg15fe_hzkrRyXB86FfLAyqGPDKQVgo_w5as-AimeObD4DMteYd" frameborder="0" scrolling="auto" allowfullscreen style="display: block;margin-left: auto;margin-right: auto;max-width: 100%;"></iframe>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img src="img/animate_icon/Ellipse_5.png" alt="" class="feature_icon_2 custom-animation2">
    </section>
    <!--::subscribe us part end::-->