
<section class="about_us section_padding team " id="Team">
    <div class="container">
            <div class="row  align-items-center justify-content-between">
                <h2 class="
                padding_top text-center">Who We are ?</h2>
            </div>
  
      <ul class="row">
       
        <li class="col-12 col-md-6 col-lg-4">
            <div class="cnt-block equal-hight" style="height: 349px;">
              <figure><img src="./img/2.jpg" class="img-responsive" alt=""></figure>
              <h3><a href="#">Sondos El-Sayed </a></h3>
              <p>Martketing Specialist</p>
             
            </div>
        </li>
        <li class="col-12 col-md-6 col-lg-4">
            <div class="cnt-block equal-hight" style="height: 349px;">
              <figure><img src="./img/3.jpg" class="img-responsive" alt=""></figure>
              <h3><a href="">Dalia Mohamed </a></h3>
              <p> BackEnd Developer</p>
              
            </div>
         </li>
        <li class="col-12 col-md-6 col-lg-4">
            <div class="cnt-block equal-hight" style="height: 349px;">
              <figure><img src="./img/1.jpg" class="img-responsive" alt=""></figure>
              <h3><a href="">Asmaa Ahmed </a></h3>
              <p>FrontEnd Developer</p>
             
            </div>
        </li>
      </ul>

    </div>
  </section>